.sub-heading{
    font-size:50px ;
    color: white ; 
    margin: 30px 150px;
}
.dropdown {
    color:#F2D388;
    margin-left:150px;
    position: relative;
}
.dropdown_menu{
    width: 70%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: hsl(60, 1%, 32%);
    border: 2px solid white;
}
*:focus{
    outline: none;
}
.button{
    width:10%;
    padding: 12px;
    border-radius:10px;
    border: 2px solid black;
    background: #F2D388;
    color: black;
}