*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/static/images/peakpx.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    color: #F2D388;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color:#F2D388;  
}
.navbar ul li::after{
    content: '';
    height: 1px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.sub-heading{
    font-size:50px ;
    color: white ; 
    margin: 30px 100px;
}
