<html>
<head>
<title>myAnime</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
    <body>
        <div class = "banner">
            <div class="navbar">
                <h1 class="logo">myAnime</h1>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">Animes</a></li>
                    <li><a href="/recommend">Explore</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>KNOW ABOUT YOUR FAVOURITE ANIME</h1>
                <p>Get Recommendations Based on your previously like anime , read description and genres of anime <br>More than 3000+ anime available</p>
                <div>
                    <button type="button">Get Recommendations</button>
                </div>
            </div>
        </div>
    </body>
</html>