<html>
<head>
<title>myAnime</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
    <body>
        <div class = "banner">
            <div class="navbar">
                <h1 class="logo">myAnime</h1>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">Animes</a></li>
                    <li><a href="/recommend">Explore</a></li>
                </ul>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>