<html>
    <head>
        <title>Recommendations</title>
        <link rel="stylesheet" href="/static/css/styleR.css">
    </head>
    <body>
       
        
        <div class="banner">
            <div class="navbar">
                <h1 class="logo">myAnime</h1>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">Animes</a></li>
                    <li><a href="/recommend">Explore</a></li>
                </ul>
            </div>
        <h1 class="sub-heading">Recommendations</h1>
        <div class="dropdown">
            <p>Choose your favourite Anime to get recommedation</p>
            <form action="recommendation" method="POST">
                <input name="title" class ="dropdown_menu" list="titles">
                <datalist id="titles">   
                    {% for title in titles %}         
                    <option value = "{{title}}">
                    {% endfor %}
                </datalist>
            <button class="button" type="submit">Recommend</button>
            </form>
        </div>
        </div>
    </body>
</html>