<html>
    <head>
        <title>Recommendations</title>
        <link rel="stylesheet" href="/static/css/styleR.css">
    </head>
    <body>
       
        
        <div class="banner">
            <div class="navbar">
                <h1 class="logo">myAnime</h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Animes</a></li>
                    <li><a href="/recommend">Explore</a></li>
                </ul>
            </div>
        <h1 class="sub-heading">Recommendations</h1>
        <div>
            <p>Choose your favourite Anime to get recommedation</p>
            <form action="/recommend" method="get">
                <input type="text">
                <datalist>
                    {%for i in anime_titles%}
                    <option value={{i}}>{{i}}</option>
                    {% endfor %}
                </datalist>

            </form>
        </div>
        </div>
    </body>
</html>